<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>

<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">Critter - Twitter for Sheep</li>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<% if current_user %>
<li><a href="<%= logout_path %>">Logout</a></li>
<% else %>
<li><a href="<%= login_path %>">Login</a></li>
<% end %>
</ul>
</div>
</div>

<div class="callout large primary">
<div class="row column text-center">
<h1><%= @service.client.user.name %>'s Critter Feed</h1>
</div>
</div>
<div class="row" id="content">
<div class="medium-8 columns">

<% if current_user %>
  <% @service.client.home_timeline.each do |tweet| %>
  <div class="blog-post">
  <img class="thumbnail" src="<%= tweet.user.profile_image_url %>">
  <% tweet.text.split(/\W+/).map!.with_index do |word, index| %>
    <% if index % 4 == 0 %>
    <%= word = "baa" %>
    <% elsif index % 4 == 2 %>
    <%= word = "sheep" %>
    <% elsif word[0..3] == "http" %>
    <%= word = "" %>
    <% else %>
    <%= word %>
    <% end %>
  <% end %><br><br>
  <div class="callout">
  <ul class="menu simple">
  <li>Author: <%= tweet.user.name %></li>
  <li><a href="<%= tweet.user.url %>">@<%= tweet.user.screen_name %></a></li>
  <li><a><%= tweet.retweet_count %> Retweets</a></li>
  <li><a><%= tweet.favorite_count %> Favorites</a></li>
  <span class="success badge"><%= link_to "Star", favorites_path(tweet_id: tweet.id), method: :post %></span>
  </ul>
  </div>
  </div>
  <% end %>
<% end %>


</div>
<div class="medium-3 columns" data-sticky-container>
<div class="sticky" data-sticky data-anchor="content">
<h4>Authors</h4>
<ul>
<li><a href="#">Bernie Sanders</a></li>
<li><a href="#">Amy Schumer</a></li>
<li><a href="#">Jeff Casimir</a></li>
<li><a href="#">Josh Cheek</a></li>
</ul>
</div>
</div>
</div>
<div class="row column">
<ul class="pagination" role="navigation" aria-label="Pagination">
<li class="disabled">Previous</li>
<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
<li><a href="#" aria-label="Page 2">2</a></li>
<li><a href="#" aria-label="Page 3">3</a></li>
<li><a href="#" aria-label="Page 4">4</a></li>
<li class="ellipsis"></li>
<li><a href="#" aria-label="Page 12">12</a></li>
<li><a href="#" aria-label="Page 13">13</a></li>
<li><a href="#" aria-label="Next page">Next</a></li>
</ul>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
